html,
body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 600px;
    margin: 0 auto;
}

h1,
h2 {
    width: 100%;
    margin: 0;
}

h2 {
    margin: 30px 0;
}

.swiper-marquee {
    height: 400px;
    width: 600px;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
    /* Override default */
}

.demo-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.demo-slide:nth-child(odd) {
    background-color: cornflowerblue;
}

.demo-slide:nth-child(even) {
    background-color: lightsalmon
}